extends ../_component/layout/layout

block content
    .services-banner
        p Our Services
    .text
        p.services-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget mauris pharetra et ultrices neque.
        p.services-text Eget mauris pharetra et ultrices neque. Tempus iaculis urna id volutpat lacus laoreet non curabitur.
        p.services-text Morbi blandit cursus risus at ultrices mi. Sit amet porttitor eget dolor morbi non. Diam maecenas ultricies mi eget. Arcu dui vivamus arcu felis bibendum ut.
    .why-choose-us
        p.heading We help you with
        br
        ul.checklist
            li
                span.wfs--check
                span Lorem ipsum dolor sit amet
            li
                span.wfs--check
                span Consectetur adipiscing elit
            li
                span.wfs--check
                span Sed do eiusmod tempor incididunt
    br