extends ../_component/layout/layout

block content
    .about-banner
        p About Us
    h4.value-heading Our Core Values
    p.value-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    p.value-text Aliquam ultrices sagittis orci a scelerisque purus semper eget. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Orci eu lobortis elementum nibh tellus molestie nunc.
    p.value-text Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Amet risus nullam eget felis eget nunc lobortis mattis.
    hr.silver-hr
    h4.about-heading About Us
    p.about-text Purus ut faucibus pulvinar elementum integer enim neque volutpat. Tempus urna et pharetra pharetra massa massa ultricies mi.
    p.about-text At volutpat diam ut venenatis tellus in metus vulputate. Sit amet venenatis urna cursus eget. Imperdiet nulla malesuada pellentesque elit eget. Tortor dignissim convallis aenean et tortor at risus viverra.
    p.about-text Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare.
    p.about-end Call us on (03) 1234 5678 for a friendly chat. We’d love to develop a long term relationship with you!