$color-supernova: #FDC502;
$color-carrot-orange: #EE852d;
$color-tango: #F08519;
$color-sushi: #84A840;
$color-dark-sushi: #83AA37;
$color-darker-sushi: #84A836;
$color-tapestry: #AB4F95;
$color-dark-tapestry: #AD4C96;
$color-indigo: #3879C7;
$color-venice-blue: #0C6394;
$color-bahama-blue: #006296;
$color-atoll: #0C637B;
$color-midnight-blue: #003164;
$color-alabaster: #F7F7F7;
$color-porcelain: #F0F4F5;
$color-silver: #CCCCCC;
$color-grey: #878787;
$color-boulder: #777777;
$color-emperor: #514D4D;
$color-tundora: #444444;
$color-mine-shaft: #333333;
$color-darker-mine-shaft: #222222;