.footer-columns
    .first-column
        p.column-heading Contact Us
        p Wilson Financial Services
        p Postal Address: PO Box 123, Caynor VIC 4567, AUS
        p Office Address: 4424 Stockert Road, Lyndhurst, VIC
        p Tel: (03) 1234 5678
        p Email: info@wilsonfs.com
    .second-column
        p.wfs--xero
        a.privacy-link(href=`${baseUrl}${"/privacy-policy"}`) Privacy Policy
        p
            a.wfs--facebook(href="#")
            a.wfs--linkedin(href="#")
footer
    .footer
        div &copy; 2018 - #{new Date().getFullYear()} Wilson Financial Services