extends _component/layout/layout

block content
    .container
        .slide.fade
            .number-text 1 / 3
            .img-one
            h2.slide-text Welcome to Wilson Financial Services!
        .slide.fade
            .number-text 2 / 3
            .img-two
            h2.slide-text Your trusted financial specialists
        .slide.fade
            .number-text 3 / 3
            .img-three
            h2.slide-text Enjoy more of life while we take care of your taxing problems
        a.prev(onclick='plusSlides(-1)') &#x276E;
        a.next(onclick='plusSlides(1)') &#x276F;
    br
    br
    h2.heading How we can help
    br
    .help-icons
        .icon-one
            span.wfs--pie-chart
            p.dark-text Want to save time and money?
            p.light-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .icon-two
            span.wfs--user
            p.dark-text Want accurate advice from your accountant?
            p.light-text Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque.
        .icon-three
            span.wfs--git-branch
            p.dark-text Want less hassle with your tax matters?
            p.light-text Mauris nunc congue nisi vitae suscipit tellus mauris a diam.
        .icon-four
            span.wfs--database
            p.dark-text Need advice on how to grow your business?
            p.light-text Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum.
        .icon-five
            span.wfs--trending-up
            p.dark-text Puzzled with the changing rules on superannuation?
            p.light-text Egestas sed sed risus pretium quam vulputate dignissim suspendisse in.
        .icon-six
            span.wfs--cloud
            p.dark-text Want to buy a property, gold, Bitcoin, or other assets in your super fund?
            p.light-text Proin fermentum leo vel orci porta non pulvinar neque laoreet.
    p.small-heading What Clients Say About Us
    h4.larger-heading Testimonials
    hr.sushi-hr
    br
    .testimonials
        .testimonial-one
            .start-quotation-marks ❝
            p.quote Great service, I love it! I highly recommend Wilson Financial Services.
            .end-quotation-marks ❞
            span.name Michelle J.
            span.job University administrator
        br
        .testimonial-two
            .start-quotation-marks ❝
            p.quote Absolutely wonderful! Wilson Financial Services's got you covered. Thanks guys, keep up the good work!
            .end-quotation-marks ❞
            span.name Eric B.
            span.job Property investor
        br
        .testimonial-three
            .start-quotation-marks ❝
            p.quote Wilson Financial Services is exactly what our business has been lacking. I'm impressed on multiple levels.
            .end-quotation-marks ❞
            span.name Patrick A.
            span.job Restaurant owner
        br
    br
    .why-choose-us
        p.heading Why Choose Us
        br
        p.grey-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p.grey-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.grey-text Facilisi nullam vehicula ipsum a arcu cursus. Viverra vitae congue eu consequat ac felis donec et odio:
        ul.checklist
            li
                span.wfs--check
                span Lorem ipsum dolor sit amet
            li
                span.wfs--check
                span Consectetur adipiscing elit
            li
                span.wfs--check
                span Sed do eiusmod tempor incididunt
    br
    p.grey-ending-text We have years of experience across a large collection of financial services. Don't hesitate to #[a(href=`${baseUrl}${"/contact-us"}`) contact us]!
    br

    script.
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("slide");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 2000);
        }